.sandwich-menu {
  position: relative;

  .sandwich-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;

    &.open {
      .sandwich-icon {
        span {
          &:nth-child(1), &:nth-child(3) {
            width: 141.4%;
          }

          &:nth-child(1) {
            transform: translate(-0.4393398282rem, 0.4375rem) rotate(45deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform: translate(-0.4393398282rem, -0.4375rem) rotate(-45deg);
          }
        }
      }
    }

    .sandwich-icon {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      width: 1.5rem;
      height: 1.25rem;
      justify-content: center;
      span {
        display: block;
        width: 100%;
        height: 0.1875rem;
        background: currentColor;
        border-radius: 0.125rem;
        transition: transform 0.2s, opacity 0.2s, width 0.2s;
      }
    }
  }

  .sandwich-content {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 0.5rem;
    background: var(----color-bg-primary);
    border: 1px solid var(--color-text-tertiary);
    border-radius: 0.375rem;
    box-shadow: var(--shadow-sm);
    min-width: 8rem;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    button {
      border-radius: 0;
      border: none;
      border-top: 1px solid var(--color-text-tertiary);
      padding: 1em;

      &:nth-of-type(1) {
        border: none;
      }
    }
  }
}
